---
interface Props {
  image: string
  title: string
  scea90e502?: string
  sb788c266b?: string[]
  s9c0ff01ed?: string
  sed1a49986?: string
  sb685ab800?: { label: string }
}

const { image, title, scea90e502, sed1a49986, sb685ab800, sb788c266b, s9c0ff01ed: discountCode }: Props = Astro.props
const website = sb788c266b?.[0]
---

<div class="flex h-full w-full flex-col rounded-3xl border border-white/10 p-4 shadow-lg">
  <div class="relative mb-4 aspect-[16/9] w-full overflow-hidden rounded-3xl">
    <!-- Blurred background -->
    <div
      class:list={['absolute inset-0', image && image !== '/logo.svg' ? 'scale-110 bg-cover bg-center bg-no-repeat opacity-50 blur-lg' : 'bg-white']}
      style={image && image !== '/logo.svg' ? `background-image: url('${image}')` : undefined}
    >
    </div>
    <!-- Main image -->
    <img src={image || '/logo.svg'} decoding="async" alt={title} class="relative z-10 h-full w-full object-cover" loading="lazy" />
    {sb685ab800?.label && <span class="absolute top-2 right-2 z-20 rounded-full bg-yellow-400 px-2 py-1 text-sm font-medium text-black">{sb685ab800.label}</span>}
  </div>

  <div class="flex flex-1 flex-col">
    <h3 class="mb-4 text-lg font-semibold text-white">{title}</h3>
    <div class="space-y-4 text-sm text-neutral-200">
      {
        sed1a49986 && (
          <div class="flex flex-col">
            <span class="text-xs text-gray-400">Location</span>
            <span class="font-medium text-white">{sed1a49986}</span>
          </div>
        )
      }
      {
        scea90e502 && (
          <div class="flex flex-col">
            <span class="text-xs text-gray-400">Description</span>
            <span class="font-medium text-white">{scea90e502}</span>
          </div>
        )
      }
      {
        discountCode && (
          <div class="flex flex-col">
            <span class="text-xs text-gray-400">Discount Code</span>
            <span class="font-medium text-white">{discountCode}</span>
          </div>
        )
      }
      {
        website && (
          <div class="mt-4 flex flex-col">
            <a href={website} target="_blank" rel="noopener noreferrer" class="break-all text-blue-300 underline">
              Learn more &rarr;
            </a>
          </div>
        )
      }
    </div>
  </div>
</div>
