---
import MdiExternalLink from '~icons/mdi/external-link'

const timelineEvents = [
  {
    date: 'February 2025',
    title: 'We shipped the second edition of our printed magazine to our readers (second edition was distributed digital-first).',
    image: '/images/df8ac619-27db-4875-b9d8-b70d9a5e25a1.webp',
  },
  {
    date: 'January 2025',
    title: 'Chiang Mai, Thailand. We filmed an episode about why this city keeps ranking as a top destination while attending Nomad Summit.',
    content: 'Interviewed by: Lazar Dimitrijevicc<br>Filmed by: Telard Aaby<br>Location: Punspace, Chiang Mai.<br>Сreative support: Anna Egorova, Curves.Digital',
    image: '/images/a693e4e1-aa5d-4493-9d87-95358afa475e.webp',
  },
  {
    date: 'December 2024',
    title: 'Captured epic conversations with top speakers while attending Nomad Island Fest in stunning Madeira, Portugal.',
    content:
      "Interviewed by: Lera Pitiakova (Founder)<br>Filmed by: Ilya Madeira<br><br>It's our second time at Nomad Island Fest, organized by Michelle Maree of The Nomad Escape.",
    image: '/images/6e4f04ea-3709-4f9e-b627-a513abfd224f.webp',
  },
  {
    date: 'November 2024',
    title: 'Released the Second Edition of NGM in digital format.',
    content:
      'Design by Dominik Fodora<br>Art-Direction by Bára Tabačková and Tatiana Illarionova<br>Illustrators by Helga Pavelková, Barbora Dzadík Kmecová, Nataly Sheveleva<br>Comics by Giang Gao<br>Marketing by Feride Mustafaieva<br><br>Authors: Kristina Mänd-Lakhiani, Jessica Holmes, Lulu Lundt, Akina Shu, CarouLLou and Michel, Derek Smith, Sergio Sala, Tomas Mrva, Francesco Silicani, Flor Dosreis, Johannes Voelkner, Guilia & Andreas, Emmelie Steentjes, Marelin Goncalves and Luis Calado, Manon Jongejan and Robin Steyverd.<br><br>Sponsored by Nomads.Insure, Tulsa Remote, Inventum International (online school), Global Nomad Pass, Safety Wing.',
    image: '/images/ed30277f-bb9f-41da-bb6c-13bb6c290ae8.webp',
    link: 'https://www.youtube.com/@NomadGossipMagazine',
    linkText: 'HERE',
  },
  {
    date: 'October 2024',
    title: 'While in Japan, we attended Colive Fukuoka in Fukuoka City and left with a few recorded interviews. Our favorite? The Japanese nomad family👇 .',
    image: '/images/9aec131a-eeba-40d5-8934-f892cd8684c9.webp',
  },
  {
    date: 'September 2024',
    title: 'Buenos Aires, Argentina—invited by Visit BUE to share why this city is a great fit for digital nomads.',
    content:
      'Buenos Aires. We came back with a recorded YouTube episode that made us realize we should take YouTube more seriously. The video got 8K views while our account was still very young. Thanks to the help of Visit BUE, we invited expats and nomads to discover what makes Buenos Aires, Argentina, so special.',
    image: '/images/6ed37473-ceca-48ca-b09e-2b2572c71389.webp',
  },
  {
    date: 'September 2024',
    title: 'Canada to Japan with Nomad Cruise. Epic two weeks cruise with 300 nomads and entrepreneurs.',
    content: 'We could also share how Nomad Magazine was created, starting from the startup pitch at previous Nomad Cruise.',
    image: '/images/f1aca43b-49a2-4638-be72-5be3bb482a20.webp',
  },
  {
    date: 'August 2024',
    title: 'Jessica Holmes joined our team as writer and editor. Later in December she took over all communication with writers and planning the third edition. 🎉',
    image: '/images/dddf5e17-3942-4e94-8004-ea048b174aea.webp',
    link: 'https://www.hitchedandhiking.com/',
    linkText: 'Check out her blog',
  },
  {
    date: 'June 2024',
    title: 'Bansko Nomad Fest. Magazines were available at Nomad Cruise booth.',
    image: '/images/952e211f-8106-49a7-8cb7-be6652b78d06.webp',
  },
  {
    date: 'April 2024',
    title: 'We presented the magazine at Running Remote in Lisbon, Portugal. Yep, we had our own stand!',
    image: '/images/56b07cd0-47fe-4189-95da-e56256232d1b.webp',
    link: 'https://www.instagram.com/share/_e52fZ6vV',
    linkText: 'Watch series of short interviews on IG',
  },
  {
    date: 'February 2024',
    title: '🚀 launch',
    content: 'On February 11 we released the very first edition of Nomad Magazine.',
    image: '/images/817068dc-9f11-4cac-83dd-c50e0bea35d2.webp',
    youtubeLink: 'https://www.youtube.com/embed/hlHmt82twUU',
  },
]
---

<div class="section-timeline">
  <div class="container">
    <div class="timeline_component">
      <div class="timeline_progress">
        <div data-w-id="d5abcf1f-3370-3eea-ccfd-66f076babfdd" class="timeline_progress-bar"></div>
      </div>

      {
        timelineEvents.map((event) => (
          <div data-w-id="d5abcf1f-3370-3eea-ccfd-66f076babfe0" class="timeline_item">
            <div id="w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe1-23ed97d3" class="timeline_left">
              <div class="timeline_date-text">{event.date}</div>
            </div>
            <div id="w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe4-23ed97d3" class="timeline_centre">
              <div class="timeline_circle" />
            </div>
            <div id="w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe6-23ed97d3" class="timeline_right z-[40]">
              <div class="margin-bottom-xlarge">
                <div class="timeline_text">{event.title}</div>
                {event.linkText && (
                  <a href={event.link} target="_blank" class="mt-4 flex cursor-pointer flex-row flex-wrap items-center gap-x-2 text-gray-400">
                    <span class="underline">{event.linkText}</span>
                    <MdiExternalLink class="size-4" />
                  </a>
                )}
                <div class="timeline_sub_text mt-4 text-sm text-gray-400" set:html={event.content} />
              </div>
              <div class="timeline_image-wrapper">
                <img src={event.image} loading="lazy" width="480" />
              </div>
              {event.youtubeLink && (
                <iframe
                  referrerpolicy="strict-origin-when-cross-origin"
                  width="100"
                  height="100"
                  class="mt-8 min-h-[300px] min-w-full"
                  src={event.youtubeLink}
                  title="First Edition of the Nomad Magazine"
                />
              )}
            </div>
          </div>
        ))
      }

      <div class="overlay-fade-bottom"></div>
      <div class="overlay-fade-top"></div>
    </div>
  </div>
</div>
