---
import MdiExternalLink from '~icons/mdi/external-link'
import MdiMicrophone from '~icons/mdi/microphone'

const timelineEvents = [
  {
    date: 'June 2023',
    title: 'Pitch',
    content: 'In June 2023 I pitched the idea of the magazine for digital nomads that we\'ve wrote with friends while driving around Crete.',
    image: '/images/NC11_nomad_magazine_pitch_2023.webp',
    link: 'https://www.instagram.com/reel/C1AgwBardej/?igsh=MnE5YWEyMDBncWM=',
    linkText: 'Watch the pitch',
  },
  {
    date: 'February 2024',
    title: '🚀 launch',
    content: 'On February 11 we released the very first edition of Nomad Magazine.',
    image: '/images/edition-001-first-edition-comments.webp',
    youtubeLink: 'https://www.youtube.com/embed/hlHmt82twUU',
  },
  {
    date: 'April 2024',
    title: 'We presented the magazine at Running Remote in Lisbon, Portugal. Yep, we had our own stand!',
    image: '/images/edition-001-running-remote-stand.webp',
    link: 'https://www.instagram.com/share/_e52fZ6vV',
    linkText: 'Watch series of short interviews on IG',
  },
  {
    date: 'June 2024',
    title: 'Bansko Nomad Fest. Magazines were available at Nomad Cruise booth.',
    image: '/images/edition-001-bansko-nomad-fest.webp',
  },
  {
    date: 'August 2024',
    title: 'Jessica Holmes joined our team as writer and editor. Later in December she took over all communication with writers and planning the third edition. 🎉',
    image: '/images/jessica-holmes.webp',
    link: 'https://www.hitchedandhiking.com/',
    linkText: 'Check out her blog',
  },
  {
    date: 'September 2024',
    title: 'Canada to Japan with Nomad Cruise. Epic two weeks cruise with 300 nomads and entrepreneurs.',
    content: 'We could also share how Nomad Magazine was created, starting from the startup pitch at previous Nomad Cruise.',
    image: '/images/how-i-created-nomad-magazine.webp',
    link: 'https://www.youtube.com/watch?v=QN20_fXJZUU&t=12s',
    linkText: 'Watch the story',
  },
  {
    date: 'September 2024',
    title: 'Buenos Aires, Argentina—invited by Visit BUE to share why this city is a great fit for digital nomads.',
    content:
      'Buenos Aires. We came back with a recorded YouTube episode that made us realize we should take YouTube more seriously. The video got 8K views while our account was still very young. Thanks to the help of Visit BUE, we invited expats and nomads to discover what makes Buenos Aires, Argentina, so special.',
    image: '/images/edition-001-buenos-aires-argentina-visit-bue.webp',
    link: 'https://www.youtube.com/watch?v=pgTpfH7zNVs&t=673s',
    linkText: 'Watch the episode',
  },
  {
    date: 'October 2024',
    title: 'While in Japan, we attended Colive Fukuoka in Fukuoka City and left with a few recorded interviews. Our favorite? The Japanese nomad family👇 .',
    image: '/images/edition-002-japan-colive-fukuoka-interview.webp',
    link: 'https://www.youtube.com/watch?v=5Ms1V1uHuhQ',
    linkText: 'Watch the interview',
  },
  {
    date: 'November 2024',
    title: 'Released the Second Edition of NGM in digital format.',
    content:
      'Design by Dominik Fodora<br>Art-Direction by Bára Tabačková and Tatiana Illarionova<br>Illustrators by Helga Pavelková, Barbora Dzadík Kmecová, Nataly Sheveleva<br>Comics by Giang Gao<br>Marketing by Feride Mustafaieva<br><br>Authors: Kristina Mänd-Lakhiani, Jessica Holmes, Lulu Lundt, Akina Shu, CarouLLou and Michel, Derek Smith, Sergio Sala, Tomas Mrva, Francesco Silicani, Flor Dosreis, Johannes Voelkner, Guilia & Andreas, Emmelie Steentjes, Marelin Goncalves and Luis Calado, Manon Jongejan and Robin Steyverd.<br><br>Sponsored by Nomads.Insure, Tulsa Remote, Inventum International (online school), Global Nomad Pass, Safety Wing.',
    image: '/images/preview-video-open-edition-002.webp',
    imageLink: 'https://www.instagram.com/reel/DFXmd-eoV1L/?igsh=MWNjaHFqOTY3NnkzaA==',
    link: '/editions/second-edition',
    linkText: 'Read the second edition',
  },
  {
    date: 'December 2024',
    title: 'Captured epic conversations with top speakers while attending Nomad Island Fest in stunning Madeira, Portugal.',
    content:
      "Interviewed by: Lera Pitiakova (Founder)<br>Filmed by: Ilya Madeira<br><br>It's our second time at Nomad Island Fest, organized by Michelle Maree of The Nomad Escape.",
    image: '/images/nomad-island-fest-2024-lera-pitiakova-video_preview.webp',
    imageLink: 'https://www.instagram.com/reel/DFvZ2EzoEuc/?igsh=djhwcDEzcDJmZ2s4',
  },
  {
    date: 'January 2025',
    title: 'Chiang Mai, Thailand. We filmed an episode about why this city keeps ranking as a top destination while attending Nomad Summit.',
    content: 'Interviewed by: Lazar Dimitrijevicc<br>Filmed by: Telard Aaby<br>Location: Punspace, Chiang Mai.<br>Сreative support: Anna Egorova, Curves.Digital',
    image: '/images/edition-001-chiang-mai-thailand-nomad-summit.webp',
    link: 'https://www.youtube.com/watch?v=_sBXTskL0gA&t=128s',
    linkText: 'Watch the episode',
  },
  {
    date: 'February 2025',
    title: 'We shipped the second edition of our printed magazine to our readers (second edition was distributed digital-first).',
    image: '/images/second-edition-shipped.webp',
  },
  {
    date: 'June 2025',
    title: 'Launch of the Third Edition at Bansko Nomad Fest',
    content: 'In June 2025, we proudly launched our third edition at Bansko Nomad Fest—an annual event of 800+ remote workers and global citizens. We built a booth, brought fresh copies hot off the press, and shared the magazine in welcome packs. (And we\'ve met in person for the first time!)',
    images: [
      {
        src: '/images/Nomad_Magazine_launch_bansko.webp',
        link: 'https://www.instagram.com/p/DLX1b2YoAwV/?igsh=ZmV2aTN0YzB3dmd6'
      },
      {
        src: '/images/Nomad_Magazine_Third_Edition.webp',
        link: '/editions/third-edition'
      }
    ],
    link: '/editions/third-edition',
    linkText: 'Read the third edition',
  },
]
---

<div class="section-timeline">
  <div class="container">
    <div class="timeline_component">
      <div class="timeline_progress">
        <div data-w-id="d5abcf1f-3370-3eea-ccfd-66f076babfdd" class="timeline_progress-bar"></div>
      </div>

      {
        timelineEvents.map((event) => (
          <div data-w-id="d5abcf1f-3370-3eea-ccfd-66f076babfe0" class="timeline_item">
            <div id="w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe1-23ed97d3" class="timeline_left">
              <div class="timeline_date-text">{event.date}</div>
            </div>
            <div id="w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe4-23ed97d3" class="timeline_centre">
              <div class="timeline_circle" />
            </div>
            <div id="w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe6-23ed97d3" class="timeline_right z-[40]">
              <div class="margin-bottom-xlarge">
                <div class="timeline_text flex items-center gap-2">
                  {event.title === 'Pitch' && <MdiMicrophone class="size-5" />}
                  {event.title}
                </div>
                {event.linkText && (
                  <a href={event.link} target="_blank" class="mt-4 flex cursor-pointer flex-row flex-wrap items-center gap-x-2 text-gray-400">
                    <span class="underline">{event.linkText}</span>
                    <MdiExternalLink class="size-4" />
                  </a>
                )}
                <div class="timeline_sub_text mt-4 text-sm text-gray-400" set:html={event.content} />
              </div>
              <div class="timeline_image-wrapper">
                {event.images ? (
                  <div class="space-y-4">
                    {event.images.map((img) => (
                      <div>
                        {typeof img === 'string' ? (
                          <img src={img} loading="lazy" width="480" />
                        ) : (
                          <a href={img.link} target="_blank">
                            <img src={img.src} loading="lazy" width="480" class="cursor-pointer" />
                          </a>
                        )}
                      </div>
                    ))}
                  </div>
                ) : (
                  <div>
                    {(event.imageLink || event.link) ? (
                      <a href={event.imageLink || event.link} target="_blank">
                        <img src={event.image} loading="lazy" width="480" class="cursor-pointer" />
                      </a>
                    ) : (
                      <img src={event.image} loading="lazy" width="480" />
                    )}
                  </div>
                )}
              </div>
              {event.youtubeLink && (
                <iframe
                  referrerpolicy="strict-origin-when-cross-origin"
                  width="100"
                  height="100"
                  class="mt-8 min-h-[300px] min-w-full"
                  src={event.youtubeLink}
                  title="First Edition of the Nomad Magazine"
                />
              )}
            </div>
          </div>
        ))
      }

      <div class="overlay-fade-bottom"></div>
      <div class="overlay-fade-top"></div>
    </div>
  </div>
</div>
